@model WebAdmin.Models.Opportunities

@{ 
    List<SelectListItem> listItemsm = new List<SelectListItem>();
    listItemsm.Add(new SelectListItem
    {
        Text = "Hot",
        Value = "Hot"
    });
    listItemsm.Add(new SelectListItem
    {
        Text = "Warm",
        Value = "Warm"
    });
    listItemsm.Add(new SelectListItem
    {
        Text = "Cold",
        Value = "Cold",
        Selected = true
    });

    List<SelectListItem> listItems2m = new List<SelectListItem>();
    listItems2m.Add(new SelectListItem
    {
        Text = "In Proccess",
        Value = "In Proccess"
    });
    listItems2m.Add(new SelectListItem
    {
        Text = "Closed",
        Value = "Closed"
    });

    List<SelectListItem> listzone = new List<SelectListItem>();
    listzone.Add(new SelectListItem
    {
        Text = "Central Time Zone",
        Value = "Central Time Zone"
    });
    listzone.Add(new SelectListItem
    {
        Text = "Eastern Time Zone",
        Value = "Eastern Time Zone"
    });
    listzone.Add(new SelectListItem
    {
        Text = "Mountain Time Zone",
        Value = "Mountain Time Zone"
    });
    listzone.Add(new SelectListItem
    {
        Text = "Pacific Time Zone",
        Value = "Pacific Time Zone"
    });
}
<style>
    /*modal create*/
    .modal-create {
        background: #47c9a2;
        color: #fff;
    }

    .form-horizontal .control-label {
        font-family: 'Varela Round', sans-serif;
        font-size: 13px;
        color: #566787;
        /*background: #f5f5f5;*/
    }

    .form-control {
        border-color: #e5e5e5;
        box-shadow: none;
    }

        .form-control:focus {
            border-color: #0cb4aa;
        }

    .contact-modal {
        padding: 50px;
        margin: 30px auto;
    }

        .contact-modal h4 {
            font-size: 26px;
            display: inline-block;
        }

        .contact-modal .form-control, .contact-modal .btn {
            /*min-height: 38px;*/
            border-radius: 1px;
            outline: none;
            border-radius: 2px;
            transition: all 0.5s;
        }

        .contact-modal textarea {
            height: 100px;
        }

        .contact-modal .btn-primary {
            min-width: 120px;
            background: #0cb4aa;
            border: none;
        }

            .contact-modal .btn-primary:hover, .contact-modal .btn-primary:focus {
                background: #0ba69e;
                outline: none;
            }

        .contact-modal .btn-link {
            color: #0cb4aa;
        }

        .contact-modal label {
            opacity: 0.9;
            font-weight: normal;
            /*font-size: 95%;*/
        }

        .contact-modal textarea {
            resize: vertical;
        }

        .contact-modal .modal-header {
            padding: 20px 35px 15px;
        }

        .contact-modal .modal-content {
            border-radius: 1px;
        }

    .modal-footer {
        padding: 20px 35px;
    }

    .contact-modal .close {
        position: absolute;
        right: 35px;
        top: 25px;
    }

    .contact-modal .modal-body {
        padding: 25px 35px 15px;
    }

    .hint-text {
        opacity: 0.8;
    }
    /*.trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }*/
    .modal-lg {
        /*width: 1000px;*/
    }

    .bussines-title {
        /*padding-bottom: 15px;*/
        background: #435d7d;
        color: #fff;
        /*padding: 16px 30px;*/
        /*margin: -20px -25px 10px;*/
        border-radius: 3px 3px 0 0;
    }

    .follow-title {
        background: #eeb711;
        color: #fff;
    }
</style>
<div class="modal-content">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="modal-header modal-create">
            <h4 class="modal-title">Create Opportunities</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 form-horizontal">

                    <div class="form-group">
                        <label class="col-xs-6 control-label">ID </label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="VisitedDate" class="col-xs-6 control-label">Visited Day </label>
                        <div class="col-xs-6">
                            <input asp-for="VisitedDate" class="form-control" />
                            <span asp-validation-for="VisitedDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label asp-for="ProgramID" class=" control-label">Pos Program </label>
                            <select asp-for="ProgramID" id="Select_ProgramID" class="form-control dropdown-toggle" asp-items="ViewBag.DDLPrograms"></select>
                            <span asp-validation-for="ProgramID" class="text-danger"></span>
                        </div>
                        <div class="col-xs-6">
                            <label asp-for="CategoryID" class=" control-label">Category</label>
                            <select asp-for="CategoryID" class="form-control dropdown-toggle" asp-items="ViewBag.DDLCategories"></select>
                            <span asp-validation-for="CategoryID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label class=" control-label">Description </label>
                            @*<div class="col-xs-6">*@
                            <input type="text" class="form-control" id="sDescription" disabled>
                        </div>
                        <div class="col-xs-6">
                            <label class=" control-label">Price </label>
                            @*<div class="col-xs-6">*@
                            <input type="text" class="form-control" id="sPrice" disabled>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 form-horizontal">
                    <div class="form-group">
                        <label asp-for="CreatedDate" class="col-xs-6 control-label">Created Date </label>
                        <div class="col-xs-6">
                            <input asp-for="CreatedDate" class="form-control" disabled="disabled" />
                            <span asp-validation-for="CreatedDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserID" class="col-xs-6 control-label">By </label>
                        <div class="col-xs-6">
                            <select asp-for="UserID" id="Select_assignedto" class="form-control" disabled="disabled" asp-items="ViewBag.DDLUsersm"></select>
                            <span asp-validation-for="UserID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label class=" control-label">Name </label>
                            @*<div class="col-xs-6">*@
                            <input type="text" class="form-control" id="Name" disabled>
                        </div>
                        <div class="col-xs-6">
                            <label class=" control-label">LastName </label>
                            @*<div class="col-xs-6">*@
                            <input type="text" class="form-control" id="LastName" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label asp-for="HowFoundID" class=" control-label">HowFound </label>
                            <select asp-for="HowFoundID" class="form-control dropdown-toggle" asp-items="ViewBag.DDLHowFound"></select>
                            <span asp-validation-for="HowFoundID" class="text-danger"></span>
                        </div>
                        <div class="col-xs-6">
                            <label asp-for="NumberLeadToFollowUp" class=" control-label">#Lead </label>
                            <input asp-for="NumberLeadToFollowUp" class="form-control" />
                            <span asp-validation-for="NumberLeadToFollowUp" class="text-danger"></span>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        @*busines info*@
        <div class="modal-header bussines-title">
            <h4 class="modal-title">Bussines Info</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 form-horizontal">

                    <div class="form-group">
                        <label asp-for="CompanyName" class="col-xs-6 control-label">Bussines Name </label>
                        <div class="col-xs-6">
                            <input asp-for="CompanyName" class="form-control" />
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="OwnerName" class="col-xs-6 control-label">Owner Name </label>
                        <div class="col-xs-6">
                            <input asp-for="OwnerName" class="form-control" />
                            <span asp-validation-for="OwnerName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label asp-for="PhoneNumber" class=" control-label">Phone Number</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-xs-6">
                            <label asp-for="TimeZone" class=" control-label">Time Zone</label>
                            <select class="form-control dropdown-toggle" name="TimeZone" asp-items="listzone"></select>
                            <span asp-validation-for="TimeZone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label asp-for="OpenDate" class=" control-label">Open Date </label>
                            <input asp-for="OpenDate" class="form-control" />
                            <span asp-validation-for="OpenDate" class="text-danger"></span>
                        </div>
                        <div class="col-xs-6">
                            <label asp-for="EstRevenue" class=" control-label">Est Revenue </label>
                            <input asp-for="EstRevenue" class="form-control" />
                            <span asp-validation-for="EstRevenue" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label asp-for="EstClosedDate" class=" control-label">Est Retunr </label>
                            <input asp-for="EstClosedDate" class="form-control" />
                            <span asp-validation-for="EstClosedDate" class="text-danger"></span>
                        </div>
                        <div class="col-xs-6">
                            <label asp-for="Rating" class=" control-label">Rating </label>
                            <select class="form-control dropdown-toggle" name="Rating" asp-items="listItemsm"></select>
                            <span asp-validation-for="Rating" class="text-danger"></span>
                        </div>
                    </div>


                </div>
                <div class="col-md-6 form-horizontal">
                    <div class="form-group">
                        <label asp-for="Address" class="col-xs-6 control-label">Address </label>
                        <div class="col-xs-6">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label asp-for="ZipCode" class=" control-label">Zip Code </label>
                            <input asp-for="ZipCode" class="form-control" />
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                        <div class="col-xs-6">
                            <label asp-for="EmailAddress" class=" control-label">Email</label>
                            <input asp-for="EmailAddress" class="form-control" />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label asp-for="City" class=" control-label">City </label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="col-xs-6">
                            <label asp-for="State" class=" control-label">State </label>
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" control-label">Description</label>
                        <textarea name="Description" class="form-control" required></textarea>
                    </div>

                </div>

            </div>

        </div>
        @*Follow info*@
        <div class="modal-header follow-title">
            <h4 class="modal-title">Follow -Up</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 form-horizontal">
                    <div class="form-group">
                        <label class=" control-label">Description</label>
                        <textarea name="dComment" class="form-control" required></textarea>
                    </div>



                </div>
                <div class="col-md-6 form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label class=" control-label">Follew Up Status </label>
                            <select class="form-control" name="dStatus" asp-items="listItems2m"></select>
                        </div>
                        <div class="col-xs-6">
                            <label class=" control-label">Next Visit </label>
                            <input class="form-control" type="date" name="dNextVisit">
                        </div>

                        <label class="control-label">EmailMe Next Visit</label>
                        <input class="form-check-input" type="checkbox" name="dEmailnotification">



                    </div>

                </div>

            </div>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-link" data-dismiss="modal" value="Cancel">
            <input type="submit" class="btn btn-primary" value="Create">
        </div>
    </form>
</div>
