@model WebAdmin.Models.Opportunities

@{
    

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "~/images/Cold.png",
        Value = "~/images/Cold.png"
    });
    listItems.Add(new SelectListItem
    {
        Text = "~/images/Cold.png",
        Value = "~/images/Cold.png",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "~/images/Hot.png",
        Value = "~/images/Hot.png"
    });


    //modalcrear

    List<SelectListItem> listItemsm = new List<SelectListItem>();
    listItemsm.Add(new SelectListItem
    {
        Text = "Hot",
        Value = "Hot"
    });
    listItemsm.Add(new SelectListItem
    {
        Text = "Warm",
        Value = "Warm"
    });
    listItemsm.Add(new SelectListItem
    {
        Text = "Cold",
        Value = "Cold",
        Selected = true
    });

    List<SelectListItem> listItems2m = new List<SelectListItem>();
    listItems2m.Add(new SelectListItem
    {
        Text = "In Proccess",
        Value = "In Proccess"
    });
    listItems2m.Add(new SelectListItem
    {
        Text = "Closed",
        Value = "Closed"
    });

    List<SelectListItem> listzone = new List<SelectListItem>();
    listzone.Add(new SelectListItem
    {
        Text = "Central Time Zone",
        Value = "Central Time Zone"
    });
    listzone.Add(new SelectListItem
    {
        Text = "Eastern Time Zone",
        Value = "Eastern Time Zone"
    });
    listzone.Add(new SelectListItem
    {
        Text = "Mountain Time Zone",
        Value = "Mountain Time Zone"
    });
    listzone.Add(new SelectListItem
    {
        Text = "Pacific Time Zone",
        Value = "Pacific Time Zone"
    });
}

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link  rel="stylesheet" type="text/css" href="~/css/Opportunities.css"/>

<div class="modal-content">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="UserID" />
        <input type="hidden" asp-for="Web" />
        <input type="hidden" asp-for="Probability" />
        <input type="hidden" asp-for="CreatedDate" />
        <div class="modal-header modal-create">
            <h4 class="modal-title">Edit Opportunities</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row ">
                <div class="col-md-6">

                    <div class="form-group col-md-7">
                        <label asp-for="CreatedDate" class=" control-label  ">Created Date </label>

                        <input asp-for="CreatedDate" class="form-control float-right" disabled="disabled" />
                        <span asp-validation-for="CreatedDate" class="text-danger float-right"></span>

                    </div>
                    <div class="form-group col-md-7">
                        <label asp-for="UserID" class=" control-label">By </label>

                        <input asp-for="UserID" type="hidden" />
                        <select asp-for="UserID" id="Select_assignedto" class="form-control dropdown-toggle" disabled="disabled" asp-items="ViewBag.DDLUsers"></select>
                        <span asp-validation-for="UserID" class="text-danger"></span>

                    </div>

                    <div class="form-group col-md-6">

                        <label asp-for="HowFoundID" class=" control-label">HowFound </label>
                        <select asp-for="HowFoundID" class="form-control dropdown-toggle" asp-items="ViewBag.DDLHowFound"></select>
                        <span asp-validation-for="HowFoundID" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="NumberLeadToFollowUp" class=" control-label">#Lead </label>
                        <input asp-for="NumberLeadToFollowUp" class="form-control" />
                        <span asp-validation-for="NumberLeadToFollowUp" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-6">

                        <label asp-for="ProgramID" class=" control-label">Pos Program </label>
                        <select asp-for="ProgramID" id="Select_ProgramID" class="form-control dropdown-toggle" asp-items="ViewBag.DDLPrograms"></select>
                        <span asp-validation-for="ProgramID" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CategoryID" class=" control-label">Category</label>
                        <select asp-for="CategoryID" class="form-control dropdown-toggle" asp-items="ViewBag.DDLCategories"></select>
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </div>



                </div>
                <div class="col-md-6 ">
                    
                    <div class="form-group col-md-2"></div>
                    <div class="form-group col-md-4 ">
                        <label asp-for="VisitedDate" class=" control-label">Visited Day </label>
                    </div>
                    <div class="form-group col-md-6">
                        <input asp-for="VisitedDate" class="form-control" />
                        <span asp-validation-for="VisitedDate" class="text-danger"></span>

                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label"> Description</label>
                        <textarea asp-for="Description" class="form-control" required></textarea>
                    </div>


                </div>

            </div>

        </div>
        @*busines info*@
        <div class="modal-header bussines-title">
            <h4 class="modal-title">Bussines Info</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="CompanyName" class="col-xs-6 control-label">Bussines Name </label>

                        <input asp-for="CompanyName" class="form-control" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="OwnerName" class="col-xs-6 control-label">Owner Name </label>

                        <input asp-for="OwnerName" class="form-control" />
                        <span asp-validation-for="OwnerName" class="text-danger"></span>

                    </div>

                    <div class="form-group col-md-6">

                        <label asp-for="PhoneNumber" class=" control-label">Phone Number</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="TimeZone" class=" control-label">Time Zone</label>
                        <select asp-for="TimeZone" class="form-control dropdown-toggle" name="TimeZone" asp-items="listzone"></select>
                        <span asp-validation-for="TimeZone" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="Address" class="col-xs-6 control-label">Address </label>

                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>

                    </div>
                    <div class="form-group col-md-6">

                        <label asp-for="City" class=" control-label">City </label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                </div>



                <div class="col-md-6">
                    <div class="form-group col-md-6">

                    </div>
                    <div class="form-group col-md-6">

                        <label asp-for="OpenDate" class=" control-label">Open Date </label>
                        <input asp-for="OpenDate" class="form-control" />
                        <span asp-validation-for="OpenDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">

                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Rating" class=" control-label">Rating </label>
                        <select asp-for="Rating" class="form-control dropdown-toggle" name="Rating" asp-items="listItemsm"></select>
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                    <div class="form-group">


                        <label asp-for="EmailAddress" class=" control-label">Email</label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>

                    </div>
                    <div class="form-group col-md-6">


                        <label asp-for="State" class=" control-label">State </label>
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ZipCode" class=" control-label">Zip Code </label>
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>



                </div>

            </div>

        </div>

        <div class="modal-footer">
            <input type="button" class="btn btn-link" data-dismiss="modal" value="Cancel">
            <input type="submit" class="btn btn-success" value="Save">
        </div>
    </form>
</div>