
@{
    ViewData["Title"] = "Dash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>



<h2>Dash</h2>

<table class="columns">
    <tr>
        <td>
            <div id="piechart_div" style="border: 1px solid #ccc"></div>
        </td>
        <td>
            <div id="barchart_div" style="border: 1px solid #ccc"></div>
        </td>
    </tr>

    <tr>
        <th>
            <div id="visited_div" style="border: 1px solid #ccc"></div>
        </th>
    </tr>
</table>

<script src="~/js/site.js" asp-append-version="true"></script>