
@{
    ViewData["Title"] = "Dash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>
    th {
        text-align: center;
        color: white;
    }

   .col-md-3{
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;

    }
    .box.box-danger {
        border-top-color: #DDDDDD;
    }
    .col-xs-12 {
        margin-right: 0px;
        padding-right: 0px;
    }
    #columnacurrent #columnachat {
        margin-right: 0px;
        padding-right: 0px;
    }
</style>

<input type="hidden" id="Email" name="Email" value="@ViewBag.Email" />
<input type="hidden" id="Esadmin" name="Esadmin" value="@ViewBag.Esadmin" />
<input type="hidden" id="UserID" name="UserID" value="@ViewBag.UserID" />
<input type="hidden" id="Ocultarchat" name="Ocultarchat" runat="server"/>



<div id="lista">
    <select id="Select" name="Select" class="form-control" onchange="filtropiechart()" asp-items="ViewBag.Sales" style="width:20%;"></select>
</div>


<br />

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3 id="visited">0</h3>
                <p>Visited(Last 7 days)</p>
            </div>
            <div class="icon" style="top: 5px;">
                <i class="fa fa-shopping-bag"></i>
            </div>
            <a asp-action="Index" asp-controller="Opportunities" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3 id="contract">0<sup style="font-size: 20px"></sup></h3>
                <p>Contract Closed(Current Month)</p>
            </div>
            <div class="icon" style="top: 5px;">
                <i class="fa fa-signal"></i>
            </div>
            <a href="#" onclick="Current()" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3 id="casesopened">0</h3>
                <p>Cases Opened</p>
            </div>
            <div class="icon" style="top: 5px;">
                <i class="ion ion-person"></i>
            </div>
            <a asp-action="Index" asp-controller="Cases" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3 id="mostcategory">0</h3>
                <p>Opportunities Online in Process</p>
            </div>
            <div class="icon" style="top: 5px;">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a asp-action="Index" asp-controller="Opportunities" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
@*<h2>Dash</h2>*@

@*<table class="columns">
        <tr>
            <td>
                <div id="piechart_div" style="border: 1px solid #ccc"></div>
            </td>
            <td>
                <div id="barchart_div" style="border: 1px solid #ccc"></div>
            </td>
        </tr>

        <tr>
            <th>
                <div id="visited_div" style="border: 1px solid #ccc"></div>
            </th>
            <th>
                <div id="visiteddate_div" style="border: 1px solid #ccc"></div>
            </th>
        </tr>
    </table>*@

<div class="row">

    <!-- Graficos de Pastel -->
    <div class="col-md-3">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h6 class="box-title" style="font-size: 14px"><b>How Found (Last 7 Days)</b></h6>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" style="padding: 0px;">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive" id="piechart_div">

                </div>
                <!-- /.box-body -->

                <div>
                </div>

            </div>
        </div>

        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size: 13px;"><b>Visited by date (Last 7 Days)</b></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" style="padding: 0px;">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive" id="visiteddate_div">

                </div>
                <!-- /.box-body -->

                <div>
                </div>

            </div>


        </div>

        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size: 13px;"><b>Opportunities Online By Status and Quantity Of Follows (Last 30 Days)</b></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" style="padding: 0px;">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive" id="barstatus_div">

                </div>
                <!-- /.box-body -->

                <div>
                </div>

            </div>


        </div>

        

    </div>

    <div class="col-md-3">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size: 14px"><b>Category (Last 7 Days)</b></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" style="padding: 0px;">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive" id="piechart_divcate">

                </div>
                <!-- /.box-body -->

                <div>
                </div>

            </div>
        </div>


        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size: 13px;"><b>Visited by saler (Last 7 Days)</b></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" style="padding: 0px;">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive" id="visited_div">

                </div>
                <!-- /.box-body -->

                <div>
                </div>

            </div>


        </div>


        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title" style="font-size: 13px;"><b>Opportunities Online By Saler (Last 30 Days)</b></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" style="padding: 0px;">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive" id="opporonlinesaler_div">

                </div>
                <!-- /.box-body -->

                <div>
                </div>

            </div>


        </div>


    </div>
    

    <div class="col-md-6">

        <!-- /. current month -->
        <div class="col-xs-6 " id="columnacurrent">
            <table class="table-bordered table-responsive" style="width: 100%; text-align: center;">
                <thead style="background: #4C8BF5; font-size: large;">
                    <tr>
                        <th height="35px" style="font-weight: normal">CURRENT MONTH</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table style="width: 100%;" class="table-bordered">
                                <thead style="background:#4C8BF5;">
                                    <tr>
                                        <th>Year</th>
                                        <th>Month</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="Goal" name="Goal">Año</td>
                                        <td id="Month" name="Month">Mes</td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                    <tr>
                        <td>

                            <table style="width: 100%;" class="table-bordered">
                                <thead style="background: #4C8BF5;">
                                    <tr>
                                        <th>Goal</th>
                                        <th>Archived</th>
                                        <th colspan="2"></th>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="GoalNew" name="GoalNew">meta</td>
                                        <td id="Quantity" name="Quantity">archivado</td>
                                        <td id="Calcu" name="Calcu" style="color: red;"></td>
                                        <td>
                                            <progress id="porcentcurrent" max="100" style="width: 25px;"></progress>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width: 100%;" class="table-bordered">
                                <thead style="background: #4C8BF5;">
                                    <tr>
                                        <th>By</th>
                                        <th>Q</th>
                                    </tr>
                                </thead>
                                <tbody id="bycurrent">
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- /. last month -->
            <table class="table-bordered table-responsive " style="width: 100%; text-align: center;">
                <thead style="background: #808080; font-size:large;">
                    <tr>
                        <th height="35px" style="font-weight: normal">LAST MONTH</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table style="width: 100%;" class="table-bordered">
                                <thead style="background:#808080;">
                                    <tr>
                                        <th>Year</th>
                                        <th>Month</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="GoalLast" name="Goal">Año</td>
                                        <td id="MonthLast" name="Month">Mes</td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                    <tr>
                        <td>

                            <table style="width: 100%;" class="table-bordered">
                                <thead style="background: #808080;">
                                    <tr>
                                        <th>Goal</th>
                                        <th>Archived</th>
                                        <th colspan="2"></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="GoalNewLast" name="GoalNew">meta</td>
                                        <td id="QuantityLast" name="Quantity">archivado</td>
                                        <td id="CalcuLast" name="CalcuLast" style="color: red;"></td>
                                        <td>
                                            <progress id="porcentlast" max="100" style="width: 25px;"></progress>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width: 100%;" class="table-bordered">
                                <thead style="background: #808080;">
                                    <tr>
                                        <th>By</th>
                                        <th>Q</th>
                                    </tr>
                                </thead>
                                <tbody id="bycurrentlast">
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-6" id="columnachat">

            <div class="box box-danger direct-chat direct-chat-danger" id="chat">
                <div class="box-header with-border">
                    <h3 class="box-title">Direct Chat</h3>
                    <div class="box-tools pull-right">

                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <!-- In box-tools add this button if you intend to use the contacts pane -->

                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" id="opporcomment" style="overflow-y: scroll; height: 575px">

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div>
                        <form>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                            <input type="hidden" name="Idto" id="Idto" value="23" />

                            <input type="hidden" name="Idby" id="Idby" />

                            <input name="Title" id="Title" value="chat" type="hidden" />
                            <textarea name="Comment" id="Comment" class="form-control pull-left" style="height: 30px; width: 70% "></textarea>

                            <button type="button" class="btn btn-warning pull-right" onclick="agregarComment('../Opportunities/CrearComments')">Send</button>
                        </form>
                    </div>
                </div>
                <!-- /.box-footer-->
            </div>


        </div>


        <!-- Opportunities Online -->


        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Opportunities Online(Last 10)</h3>
                    <div class="box-tools pull-right">

                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <!-- In box-tools add this button if you intend to use the contacts pane -->

                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body" style="height: 540px; overflow-y: scroll;">
                    <table style="width: 100%;" class="table-bordered">
                        <thead style="background:#808080; ">
                            <tr>
                                <th>
                                    Visited Date
                                </th>
                                <th>
                                    SalesMan / CompanyName
                                </th>




                            </tr>
                        </thead>
                        <tbody id="opponline"></tbody>
                    </table>
                </div>
            </div>
        </div>










    </div>


</div>

<div><span id="current"></span></div>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/OpporComments.js"></script>
<script src="~/js/DashEstatico.js"></script>
