
@{
    ViewData["Title"] = "Dash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>
    th {
        text-align: center;
        color: white;
    }
</style>


<select id="Select" name="Select" class="form-control" onclick="getAdministra('SalesComments/GetAdmin')" style="width:20%;">
    <option value="0">All</option>
</select>
<br />

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>1</h3>
                <p>Visited</p>
            </div>
            <div class="icon" style="top: 5px;">
                <i class="fa fa-shopping-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>1<sup style="font-size: 20px"></sup></h3>
                <p>Contract Closed</p>
            </div>
            <div class="icon" style="top: 5px;">
                <i class="fa fa-signal"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>1</h3>
                <p>Cases Opened</p>
            </div>
            <div class="icon" style="top: 5px;">
                <i class="ion ion-person"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>65</h3>
                <p>Most visited category</p>
            </div>
            <div class="icon" style="top: 5px;">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
@*<h2>Dash</h2>*@

@*<table class="columns">
        <tr>
            <td>
                <div id="piechart_div" style="border: 1px solid #ccc"></div>
            </td>
            <td>
                <div id="barchart_div" style="border: 1px solid #ccc"></div>
            </td>
        </tr>

        <tr>
            <th>
                <div id="visited_div" style="border: 1px solid #ccc"></div>
            </th>
            <th>
                <div id="visiteddate_div" style="border: 1px solid #ccc"></div>
            </th>
        </tr>
    </table>*@

<div class="row">

    <!-- Graficos de Pastel -->
    <div class="col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">How Found</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body chart-responsive" id="piechart_div">

            </div>
            <!-- /.box-body -->

            <div>
            </div>

        </div>


    </div>


    <div class="col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Category</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body chart-responsive" id="piechart_divcate">

            </div>
            <!-- /.box-body -->

            <div>
            </div>

        </div>


    </div>
    <div class="col-md-4" >
        <table class="table-bordered table-responsive" style="width: 100%; text-align: center;">
            <thead style="background: blue;" >
                <tr>
                    <th>Current Month</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table style="width: 100%;" class="table-bordered">
                            <thead style="background: blue;">
                                <tr>
                                    <th >Year</th>
                                    <th >Month</th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="Goal" name="Goal">Año</td>
                                    <td id="Month" name="Month">Mes</td>
                                </tr>
                            </tbody>
                        </table>
                               

                    </td>
                </tr>
                <tr>
                    <td>

                        <table style="width: 100%;" class="table-bordered">
                            <thead style="background: blue;">
                                <tr>
                                    <th >Goal</th>
                                    <th >Archived</th>
                                    <th></th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td id="GoalNew" name="GoalNew">meta</td>
                                    <td id="Quantity" name="Quantity">archivado</td>
                                    <td id="Calcu" name="Calcu" style="color: red;"></td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>
                        <table  style="width: 100%;" class="table-bordered">
                            <thead style="background: blue;">
                                <tr>
                                    <th >By</th>
                                    <th>Q</th>
                                </tr>
                            </thead>
                            <tbody id="bycurrent">
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>



<div class="row">

    <!-- Graficos de barra -->
    <div class="col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Visited by date</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body chart-responsive" id="visiteddate_div">

            </div>
            <!-- /.box-body -->

            <div>
            </div>

        </div>


    </div>


    <div class="col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Visited by saler</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body chart-responsive" id="visited_div">

            </div>
            <!-- /.box-body -->

            <div>
            </div>

        </div>


    </div>


    <div class="col-md-4">
        <table class="table-bordered table-responsive" style="width: 100%; text-align: center;">
            <thead style="background: #585858;">
                <tr>
                    <th>Last Month</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table style="width: 100%;" class="table-bordered">
                            <thead style="background:#585858;">
                                <tr>
                                    <th>Year</th>
                                    <th>Month</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td id="GoalLast" name="Goal">Año</td>
                                    <td id="MonthLast" name="Month">Mes</td>
                                </tr>
                            </tbody>
                        </table>


                    </td>
                </tr>
                <tr>
                    <td>

                        <table style="width: 100%;" class="table-bordered">
                            <thead style="background: #585858;">
                                <tr>
                                    <th>Goal</th>
                                    <th>Archived</th>
                                    <th></th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td id="GoalNewLast" name="GoalNew">meta</td>
                                    <td id="QuantityLast" name="Quantity">archivado</td>
                                    <td id="CalcuLast" name="CalcuLast" style="color: red;"></td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%;" class="table-bordered">
                            <thead style="background: #585858;">
                                <tr>
                                    <th>By</th>
                                    <th>Q</th>
                                </tr>
                            </thead>
                            <tbody id="bycurrentlast">
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <table style="width: 100%;" class="table-bordered">
            <thead style="background:#585858; ">
                <tr>
                    <th>
                        Visited Date
                    </th>
                    <th>
                        SalesMan / CompanyName
                    </th>
                    <th>
                        #Lead
                    </th>
                    <th>
                        F1
                    </th>
                    <th>
                        F2
                    </th>
                    <th>
                        F3
                    </th>
                    <th>
                        F4
                    </th>
                    <th>
                        F5
                    </th>
                    <th>
                        R
                    </th>
                </tr>
            </thead>
            <tbody id="opponline">
                
            </tbody>
        </table>

    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
