@model WebAdmin.Models.OpportunitiesDetails

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>OpportunitiesDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OpportunitiesID" class="control-label"></label>
                <input asp-for="OpportunitiesID" class="form-control" />
                <span asp-validation-for="OpportunitiesID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailDatetime" class="control-label"></label>
                <input asp-for="DetailDatetime" class="form-control" />
                <span asp-validation-for="DetailDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitDate" class="control-label"></label>
                <input asp-for="VisitDate" class="form-control" />
                <span asp-validation-for="VisitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextVisitDate" class="control-label"></label>
                <input asp-for="NextVisitDate" class="form-control" />
                <span asp-validation-for="NextVisitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailNotification" class="control-label"></label>
                <input asp-for="EmailNotification" class="form-control" />
                <span asp-validation-for="EmailNotification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailSent" class="control-label"></label>
                <input asp-for="EmailSent" class="form-control" />
                <span asp-validation-for="EmailSent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
